{% extends 'base.html.twig' %}

{% block title %}Liste des mots-clés{% endblock %}

{% block body %}
    <h1>Liste des mots-clés</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for keyword in keywords %}
            <tr>
                <td>{{ keyword.id }}</td>
                <td>{{ keyword.name }}</td>
                <td>{{ keyword.slug }}</td>
                <td>
                    <a href="{{ path('admin_keywords_show', {'id': keyword.id}) }}"><i class="far fa-eye"></i></a>
                    <a href="{{ path('admin_keywords_edit', {'id': keyword.id}) }}"><i class="far fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_keywords_new') }}"><i class="fas fa-plus-circle"></i></a>
{% endblock %}
