{% extends 'base.html.twig' %}

{% block title %}Edition du theme {{ theme.name }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center text-primary display-4">Editer le theme {{ theme.name }}</h1>
        <div class="row mx-auto">
            {{ include('theme/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
        <div class="row d-flex justify-content-between">
            <a href="{{ path('admin_theme_index') }}">retour à la liste</a>
            <a class="btn btn-primary">{{ include('theme/_delete_form.html.twig') }}</a>
    </div>
{% endblock %}
